AOAI_APIKEY = <<your OpenAI key here>>
AOAI_ENDPOINT = <<your OpenAI endpoint here>>
EMBEDDING_DEPLOYMENTNAME = <<your Embedding deployment name here>>
COMPLETION_DEPLOYMENTNAME = <<your default completion deployment name here>>
COMPLETION_1106_DEPLOYMENTNAME_1106 = <<your gpt-4 1106 deomplyment name here>>
